services:
  - type: web
    name: paulinha-landing
    runtime: node
    rootDir: .
    buildCommand: |
      echo "Node version: $(node -v)"
      echo "NPM version: $(npm -v)"
      echo "Diretório atual: $(pwd)"
      echo "Conteúdo do diretório:"
      ls -la
      echo "Verificando package.json:"
      cat package.json
      npm install --no-audit --no-fund
      npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
      - key: NODE_ENV
        value: production
    healthCheckPath: /
    autoDeploy: true 